@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c15c89;
    transition: 0.5s;
}


.container {
    width: 800px;
    height: 500px;
    padding: 40px 0;
    position: relative;
}
.block {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    height: max-content;
}
.block__item {
    width: 50%;
}
.block-item {
    text-align: center;
}
.block-item__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}
.block-item__btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}
.form-box {
    background-color: #fff;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
}
.form-box.active {
    left: 50%;
}

.form {
    width: 100%;
    padding: 50px;
    font-size: 16px;
}
.form__title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}
.form__input {
    width: 100%;
    padding: 10px;
    border: solid 1px #333;
    font-size: inherit;
}
.form__btn {
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #0574f4;
    color: #fff;
    padding: 10px 50px;
}
.form__forgot {
    color: #333;
}
p {
    font-size: 1.2rem;
}
.kaka {
    color: #ffea00;
    height: 45px;
    width: 100%;
}
.end {
    color: #22ff00 !important;
}
.btn_end {
    
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #0574f4;
    color: #fff;
    padding: 10px 50px;
}
